@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To HCL June APP1 V2.0</h1>
    <p>To Access Class Recordings and Labs Poratl Use <a href="https://www.mykoenig.com/login">LET Portal</a>.</p>
</div>
